<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clojure Mazes</title>

    <!-- styles -->
    {% style "/assets/material-icons/css/material-icons.min.css" %}
    {% style "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" %}

    {% style "/css/screen.css" %}
</head>
<body>
<!-- navbar -->
<div class="row">
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="brand-logo">Clojure Mazes</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section class="section">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red modal-trigger" href="#modal">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="modal" class="modal">
    <form action="/" onsubmit="return validateHW()" method="POST">
        {% csrf-field %}
        <div class="modal-content">
            <h4>New Maze</h4>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" name="name" type="text">
                            <label for="name">Maze Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="height" name="height" type="text">
                            <label for="height">Height</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="width" name="width" type="text">
                            <label for="width">Width</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            <input class="modal-close waves-effect waves-green btn-flat" type="submit"/>
        </div>
    </form>
</div>


<!-- scripts -->
{% script "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" %}
{% script "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" %}

<script type="text/javascript">
    var current;
    var mazeStart;
    var prevStart;
    var mazeEnd;
    var prevEnd;

    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        $('.modal').modal();
    });

    function setMode(btn, mode) {
        current = mode;
        btn.innerText = "Selecting";
    }

    function validate() {
        if (!mazeStart) {
            alert("Please set the start cell of the maze.")
            return false;
        }
        if (!mazeEnd) {
            alert("Please set the end cell of the maze.")
            return false;
        }
        return true;
    }

    function validateHW() {
        var h = document.getElementById("height").value;
        var w = document.getElementById("width").value;
        var name = document.getElementById("name").value;
        if ("" === name.trim()) {
            alert("Please enter maze name.");
            return false;
        }
        if (isNaN(h) || h < 5 || h > 100) {
            alert("Please enter a height between 5 and 100.");
            return false;
        }
        if (isNaN(w) || w < 1 || w > 100) {
            alert("Please enter a width between 5 and 100.");
            return false;
        }
        return true;
    }

    function deleteMaze(id) {
        var url = "http://localhost:8080/delete/".concat(id);
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                window.location.replace("http://localhost:8080/");
            },

        });
    }

    function newMaze() {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                window.location.replace("http://localhost:8080/");
            },

        });
    }


    (function () {
        $("#tbl td").click(function () {
            if (current === 'start') {
                if (prevStart) {
                    prevStart.innerText = "";
                }
                mazeStart = [this.parentNode.rowIndex, this.cellIndex];
                document.getElementById('start').innerText = mazeStart;
                document.getElementById('start-form').value = mazeStart;
                $(this).addClass('start');
                prevStart = this;

            } else if (current === 'end') {
                if (prevEnd) {
                    prevEnd.innerText = "";
                }
                mazeEnd = [this.parentNode.rowIndex, this.cellIndex];
                document.getElementById('end').innerText = mazeEnd;
                document.getElementById('end-form').value = mazeEnd;
                $(this).addClass('end');
                prevEnd = this;
            }
            current = null;
        });

    })();
</script>

{% block page-scripts %}
{% endblock %}
</body>
</html>
