{% extends "base.html" %}
{% block content %}
<div class="content grid">
    {% for maze in mazes %}
    <a href="/maze/{{maze._id}}" class="card">
        <div >
            <div class="text">
                Maze {{forloop.counter}}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
