{% extends "base.html" %}
{% block content %}
{% if mazes|length-is:0 %}
<h2 style="text-align: center">No mazes found. Click to create one.</h2>
{% else %}
<div class="content grid">
    {% for maze in mazes %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{maze.name}}</span>
          <p>Height: {{maze.height}}</p>
          <p>Width: {{maze.width}}</p>
      </div>
      <div class="card-action">
        <a href="/maze/{{maze._id}}">Select</a>
       <a onclick="deleteMaze('{{maze._id}}')">Delete</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
