{% extends "base.html" %}
{% block content %}
<table id="tbl" style="height:{{height}}px !important; width:{{width}}px !important;">
    {% for row in maze %}
    <tr>
        {% with x=forloop.counter0 %}
        {% for col in row %}
        <td class="maze-cell {% if col|right? %}right-entrance{% endif %}
        {% if col|down? %}down{% endif %}
        {% in-solution %}{{x}},{{forloop.counter0}}{% endsolution %}">

        </td>
        {% endfor %}
        {% endwith %}
    </tr>
    {% endfor %}
</table>
{% if solution %}
<div>
    Solution for start: {{start}} and end: {{end}}
</div>
{% else %}
<label for="start">Start</label>
<button id='start' onclick="setMode(this, 'start')">Set Start</button>
<label for="end">End</label>
<button id='end' onclick="setMode(this, 'end')">Set End</button>
<form action="./{{id}}" onsubmit="return validate()" method="POST">
    {% csrf-field %}
    <input id="start-form" name="start" type="hidden"/>
    <input id="end-form" name="end" type="hidden"/>
    <input id="solve" type="submit" value="Solve"/>
</form>
{% endif %}
{% endblock %}
